@font-face {
    font-family: 'Sketch Block';
    src: url('freeversionSketchBlock-Bold.eot');
    src: url('freeversionSketchBlock-Bold.eot?#iefix') format('embedded-opentype'),
        url('freeversionSketchBlock-Bold.woff2') format('woff2'),
        url('freeversionSketchBlock-Bold.woff') format('woff'),
        url('freeversionSketchBlock-Bold.ttf') format('truetype'),
        url('freeversionSketchBlock-Bold.svg#freeversionSketchBlock-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HVD Comic Serif Pro';
    src: url('HVDComicSerifPro.eot');
    src: url('HVDComicSerifPro.eot?#iefix') format('embedded-opentype'),
        url('HVDComicSerifPro.woff2') format('woff2'),
        url('HVDComicSerifPro.woff') format('woff'),
        url('HVDComicSerifPro.ttf') format('truetype'),
        url('HVDComicSerifPro.svg#HVDComicSerifPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

